*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Merienda", sans-serif;
}

.time-select,
.sound-picker, 
.player-container{
    height: 70%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.player-container svg {
    position: absolute;
    width: 45vh;
    pointer-events: none;
    height: 150%;
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

.time-display {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 50px;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -20;
    }

.time-select button,
.sound-picker button{
    color: white;
    width: 20%;
    height: 7%;
    background: none;
    cursor: pointer;
    border: solid white 1px;
    border-radius: 15px;
    font-size: 15px;
    font-family: "Merienda", sans-serif;
}

.time-select button:hover {
    color: #000000;
    background: rgb(236, 236, 236);
    box-shadow: 0px 0px 13px #2d9b12;
}

.sound-picker button{
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.sound-picker button:nth-child(1){
    background: #4972a1;
}

.sound-picker button:nth-child(2){
    background: rgb(236, 99, 99);
}

.sound-picker button img{
    height: 8vh;
}
.play{
    cursor: pointer;
}

@media only screen and (max-width: 720px) {

    .sound-picker button{
        color: white;
        width: 70px;
        height: 70px;
        background: none;
        cursor: pointer;
        border: solid white 1px;
        font-size: 15px;
    }
    .time-select button{
        width: 6rem;
        height: 2rem;
    }
    .player-container svg {
        height: 25%;
        top: 50%;
        left: 50%;
    }
    .time-select button:nth-child(2){
        display: none;
     }

  }
